* {
	box-sizing: border-box;
}

body {
	margin: auto;
	width: 1062px;
	font-family: 14/1.7 Georgia, serif;
	color: #626262;
}

img {
	border: 0;
}

/*header*/
header img {
	margin: 83px auto 62px auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-box {
	font-family: "Times New Roman", Times, sans-serif;
	text-transform: uppercase;
	margin: 0 0 40px;
	text-align: center;
}

.header-ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0 102px 0 0;	
}

.header-ul li a {
	text-decoration: none;
	color: #626262;
}

.header-ul li a:hover {
	color: #ea1313;
}
/*header*/

/*main*/
.paragraf h1 {
	font-family: "Times New Roman", Times, sans-serif;
}

.span_link {
	color: red;
	text-decoration: underline;
}

.some_text {
	margin: 55px 0 0 0;
	text-transform: uppercase;
	color: #b4ad9e;
}

.blockquote {
	text-align: center;
}

blockquote cite {
	text-transform: uppercase;
	color: #b4ad9e;
}
/*main*/
/*footer*/
.f_card {
	position: relative;
    display: inline-block;
}

.f_card .f_red {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.f_card:hover .f_red {
	display: inline;
}

.t_card {
	position: relative;
    display: inline-block;
}

.t_card .t_red {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.t_card:hover .t_red {
	display: inline;
}

.i_card {
	position: relative;
    display: inline-block;
}

.i_card .i_red {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.i_card:hover .i_red {
	display: inline;
}

footer {
	position: absolute;
	left: 0px;
    height:97px;
    width: 100%;
	margin: 105px 0 0 0;
	background: #f0f0f0;
}

.footer-box {
	float: right;
	margin: 0 70px 0 0;
}

.footer-box b {
	margin: 40px 25px 0 0;
}


.footer-box a {
	margin: 40px 0 0 19px;
}
/*footer*/